body {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 20px, 140px, 140px, 30px, repeat(6, 1fr) 20px;
    gap: 10px;
    font-family: 'Oswald', sans-serif;
    
   
}

#title {
    text-align: center;
    background: url('https://media.giphy.com/media/BWfe2DJRX1DQ4/giphy.gif');
    color: whitesmoke;
}

.aboutMe {
    text-align: center;
}



#skills {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

 #email {
    text-align: right;
    color: black;
}

.projects {
    text-align: center;
    position: center;
    margin-top:
}

.card1 {
    align-items: start;
    margin-top: 20px; 
    display: inline-block;
    flex-wrap: nowrap;
    text-align: start;
    border: 1px solid black;
    margin: 10px;
}

img {
    width: 287px;
}

#projects {
    border-top: 2px solid black;
    padding-top: 10px;
    margin-top: 10px;
    
}

form {
    text-align: center;
    background: whitesmoke;

}

button {
    background-color: black;
    color: white;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 50px 170px 170px 50px repeat(7, 200px) 50px;
        
    }

    header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #title {
        grid-column: 1/3;
        grid-row: 2 / 3;
    }

    .aboutMe {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        padding-top: 0;
    }

    .card1 {
        grid-column: 1 / 3;
        grid-row: 5 / 7;
        margin: 20px;
    }

    #skills {
        font-weight: bold;
    }


    .projects {
        grid-column: 1 / 3;
        grid-row: 4 /  5;
        margin-top: 25px;
    }

    /* div .card {
        grid-column: 1 / 3;
        grid-row: 5 / 8;
    } */

    form {
        grid-row: 11 / 12;
        grid-column: 1 / 3;
    }
    
    footer {
        grid-row: 12 / 13;
        grid-column: 1 / 3;
    }


}

@media only screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-rows: 50px 170px 170px 50px repeat(6, 200px);
    }
    
    form {
        grid-column: 1 / 3;
        grid-row: 10 / 11;
    }


}